@import "../mixins";

.ears {
  @include bodyPart(
    $w: 10px,
    $h: 10px,
    $lt: 1px,
    $rt: auto,
    $tp: 10px,
    $bt: auto,
    $m: auto,
    $bg: #582e0b
  );
  box-shadow: #994f13 -2px -1px 0px 4px;
}

.ears::after {
  content: " ";
  @include bodyPart(
    $w: 10px,
    $h: 10px,
    $lt: auto,
    $rt: -66px,
    $tp: auto,
    $bt: auto,
    $m: auto,
    $bg: #582e0b
  );
  box-shadow: #994f13 1px -1px 0px 4px;
}
