.eyes{
    width: 6px;
    height: 15px;
    border-radius: 50%;
    left: 25px;
    top: 20px;
    background-color: #000000;
    position: absolute;
    box-shadow: #d4813d 0px 0px 0px 10px, #d4813d 12px 10px 0px 5px;
}

.eyes::after{
    content: " ";
    position: absolute;
    background-color: #000000;
    width: 6px;
    height: 15px;
    border-radius: 50%;
    left: 25px;
    box-shadow: #d4813d 0px 0px 0px 10px;
}