@import "../mixins";

.eyes {
  @include bodyPart(
    $w: 6px,
    $h: 15px,
    $lt: 25px,
    $rt: auto,
    $tp: 20px,
    $bt: auto,
    $m: auto,
    $bg: #000
  );
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  box-shadow: #d4813d 0px 0px 0px 10px, #d4813d 12px 10px 0px 5px;
}

@keyframes blink {
  0% {
    height: 15px;
  }
  2% {
    height: 3px;
    transform: translate(0px, 6px);
    border-radius: 100%;
  }
  5% {
    height: 15px;
    transform: translate(0px, 0px);
    border-radius: 100%;
  }
}

.eyes::after {
  content: " ";
  @include bodyPart(
    $w: 6px,
    $h: 15px,
    $lt: 25px,
    $rt: auto,
    $tp: auto,
    $bt: auto,
    $m: auto,
    $bg: #000
  );
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  box-shadow: #d4813d 0px 0px 0px 10px;
}
