@import "../mixins";

.eyes {
  @include bodyPart(
    $w: 6px,
    $h: 15px,
    $lt: 25px,
    $rt: auto,
    $tp: 20px,
    $bt: auto,
    $m: auto,
    $bg: #000
  );
  box-shadow: #d4813d 0px 0px 0px 10px, #d4813d 12px 10px 0px 5px;
}

.eyes::after {
  content: " ";
  @include bodyPart(
    $w: 6px,
    $h: 15px,
    $lt: 25px,
    $rt: auto,
    $tp: auto,
    $bt: auto,
    $m: auto,
    $bg: #000
  );
  box-shadow: #d4813d 0px 0px 0px 10px;
}
