@import "../mixins";

.mouth {
  @include bodyPart(
    $w: 45px,
    $h: 45px,
    $lt: 16.8px,
    $rt: auto,
    $tp: 33px,
    $bt: auto,
    $m: auto,
    $bg: #994e10
  );
  border: 2px solid #000;
}

.mouth::before {
  content: " ";
  @include bodyPart(
    $w: 44px,
    $h: 32px,
    $lt: 0.4px,
    $rt: auto,
    $tp: 4px,
    $bt: auto,
    $m: auto,
    $bg: #994e10
  );
  border-bottom: 3px solid #000;
}

.mouth::after {
  content: " ";
  @include bodyPart(
    $w: 0.4px,
    $h: 39px,
    $lt: 22.2px,
    $rt: auto,
    $tp: auto,
    $bt: auto,
    $m: auto,
    $bg: #000
  );
}
