.mouth{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    left: 16.8px;
    top: 33px;
    border: 2px solid #000;;
    background-color: #d3762a;
    position: absolute;
}

.mouth::before{
    content: " ";
    position: absolute;
    background-color: #d3762a;
    width: 44px;
    height: 32px;
    border-radius: 50%;
    left: .4px;
    top: 4px;
    border-bottom: 3px solid #000;
}

.mouth::after{
    content: " ";
    position: absolute;
    background-color: #000000;
    width: .4px;
    height: 38px;
    left: 22.2px;
}