@import "../mixins";

.mouth {
  @include bodyPart(
    $w: 45px,
    $h: 45px,
    $lt: 16.8px,
    $rt: auto,
    $tp: 33px,
    $bt: auto,
    $m: auto,
    $bg: #994e10
  );
  animation-name: smile;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  animation-iteration-count: infinite;
  border: 2px solid #000;
}

@keyframes smile {
  0% {
    height: 45px;
  }
  5% {
    height: 30px;
  }
  10% {
    height: 45px;
  }
}

.mouth::before {
  content: " ";
  @include bodyPart(
    $w: 44px,
    $h: 32px,
    $lt: 0.4px,
    $rt: auto,
    $tp: 4px,
    $bt: auto,
    $m: auto,
    $bg: #994e10
  );
  border-bottom: 3px solid #000;
}

.mouth::after {
  content: " ";
  @include bodyPart(
    $w: 3px,
    $h: 39px,
    $lt: 21px,
    $rt: auto,
    $tp: auto,
    $bt: auto,
    $m: auto,
    $bg: #000
  );
}
