@import "../mixins";

.nose{
    @include bodyPart(
    $w: 8px,
    $h: 8px,
    $lt: 32.5px,
    $rt: auto,
    $tp: 32px,
    $bt: auto,
    $m: auto,
    $bg: #683104
  );
    border: 4px solid #000;
}