@import "../mixins";

.layer-8 {
  @include layer(
    $w: 180px,
    $h: 120px,
    $bg: transparent,
    $bt: 138px,
    $lt: 34px,
    $z: 8
  );
  display: grid;
  grid-template-areas: "catch the" "catch bear";
  grid-template-columns: 35px 1fr;
  grid-template-rows: 25px 1fr;
  .catch {
    grid-area: catch;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: end;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    margin-right: -5px;
    margin-top: 3px;
    color: #000000;

    animation-name: wordCatch;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes wordCatch {
    0% {
      color: #000000;
    }
    50% {
      color: #05522e;
    }
    100% {
      color: #000000;
    }
  }

  .the {
    grid-area: the;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 38px;
    margin-top: -10px;
    color: #0a492c;

    animation-name: wordThe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes wordThe {
    0% {
      color: #0a492c;
    }
    50% {
      color: #012e19;
    }
    100% {
      color: #0a492c;
    }
  }

  .bear {
    grid-area: bear;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    margin-left: -3px;
    margin-top: -15px;
    color: #a4f8d1;

    animation-name: wordBear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes wordBear {
    0% {
      color: #a4f8d1;
    }
    50% {
      color: #e0fff0;
    }
    100% {
      color: #a4f8d1;
    }
  }
}
