@import "../mixins";

.layer-6 {
  @include layer(
    $w: 100px,
    $h: 265px,
    $bt: 0,
    $rt: 45px,
    $z: 6
  );
  background-color: transparent;

  animation-name: bear4;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-iteration-count: infinite;

  input[type=button] {
    @include input($z: 6);
  }
}

@keyframes bear4 {
  0% {
    height: 265px;
  }
  10% {
    height: 185px;
  }
  100% {
    height: 265px;
  }
}