@import "../mixins";

.layer-9 {
  @include layer($w: 100%, $h:181.5px, $bt: 0, $lt: 0, $z: 9);
  margin: 0 auto;
  background-image: url(./../img/tree-tablet.svg);
  background-position: bottom;
  background-size: cover;
}

@media (max-width: 768px) {
  .layer-9  {
  }
}

@media (max-width: 425px) {
  .layer-9  {
  }
}
