@import '../mixins';

.layer-1{
    @include layer($w: 100px, $h: 500px, $bg: transparent, $bt: 0, $rt: 65px, $z: 1);

    animation-name: bear1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    input[type=checkbox]{
        position: absolute;
        appearance: none;
        cursor: pointer;
        z-index: 1;
        width: 100%;
        height: 80px;
    }
}

@keyframes bear1 {
    0%{
        height: 500px;
    }
    25%{
        height: 420px;
    }

    100%{
        height: 500px;
    }
}