@import "../mixins";

.layer-1 {
  @include layer(
    $w: 100px,
    $h: 500px,
    $bg: transparent,
    $bt: 0,
    $rt: 65px,
    $z: 1
  );

  animation-name: bear1;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;

  input[type="checkbox"] {
    @include input($z: 1);
    &:checked {
      counter-increment: game;
    }
  }
}

@keyframes bear1 {
  0% {
    height: 500px;
  }
  25% {
    height: 420px;
  }

  100% {
    height: 500px;
  }
}
