@import "../mixins";

.layer-5 {
  @include layer(
    $w: 220px,
    $h: 290px,
    $bt: 0,
    $lt: 20px,
    $z: 5
  );
  background-color: $bg-tree-3;
  border-radius: 20px 20px 0 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
