@import "../mixins";

.layer-9 {
  @include layer($w: 100%, $h:auto, $bg: transparent, $bt: 0, $lt: 0, $z: 9);
  margin: 0 auto;
  img {
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
}
