@import "./vars";

.canvas {
  overflow-x: auto;
  width: 425px;
  height: 676px;
  border-radius: 40px;
  border: 6px solid rgb(255, 255, 255);
  background-color: $bg-secondary;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 40px 60px -40px,
    rgba(10, 37, 64, 0.35) 0px -8px 25px 0px inset;
  position: relative;
}

@media (max-width: 768px) {
  .canvas {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    border: none;
    box-shadow: none;
  }
}
