@import "./mixins";

.lobby {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  place-content: center;
  gap: 10px;
  z-index: 2;
  opacity: 1;
  transition: 1s;
  transform: scale(1);

  .title {
    display: grid;
    grid-template-areas: "catch the" "catch bear";
    grid-template-columns: 35px 1fr;
    grid-template-rows: 5px 1fr;
    .catch {
      grid-area: catch;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      text-align: end;
      font-size: 26px;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      margin-right: -5px;
      margin-top: 3px;
      color: #025f6b;
    }

    .the {
      grid-area: the;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 38px;
      margin-top: -10px;
      color: #0f7886;
    }

    .bear {
      grid-area: bear;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 64px;
      margin-left: -3px;
      margin-top: 5px;
      color: #caf9ff;
    }
  }
  .spaceBtn {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    position: relative;
    background-color: #0f7886;
    margin-bottom: 30px;
    border: 1px solid #caf9ff;
    .btnPlay {
      @include btn($s: 130px, $br: 5px dotted #1b6670);

      position: absolute;
      top: 5px;
      left: 5px;

      animation-name: turn;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    .icon {
      position: absolute;
      font-size: 80px;
      left: 40px;
      top: 28px;
      color: #37d0e4;
    }

    @keyframes turn {
      to {
        transform: rotate(0deg);
      }
      from {
        transform: rotate(360deg);
      }
    }

    @keyframes turn2 {
      to {
        transform: rotate(360deg);
      }
      from {
        transform: rotate(0deg);
      }
    }
  }

  .controls {
    display: flex;
    gap: 15px;
    .btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background-color: #0f7886;
      border: 1px solid #caf9ff;
      cursor: pointer;
      .icon {
        color: #37d0e4;
        font-size: 20px;
        &:hover{
          color: #caf9ff;
        }
      }
      .on, .sun {
        display: block;
        transition: .2s;
      }
      .off, .moon {
        display: none;
        transition: .2s;
      }
    }
    .github {
      color: #37d0e4;
      font-size: 20px;
      display: grid;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      i {
        transition: .2s;
      }
      &:hover i {
        color: #caf9ff;
      }
    }
  }

  .bestScores {
    text-align: center;
    font-family: "Poppins", sans-serif;
    h4 {
      color: #caf9ff;
      font-size: 24px;
      margin: 10px 0 0;
    }
    ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      li {
        list-style: none;
        &:nth-child(1) {
          color: #0f7886;
          font-size: 20px;
        }
        &:nth-child(2) {
          color: #0d92a3;
          font-size: 18px;
        }
        &:nth-child(3) {
          color: #0aa5b9;
          font-size: 16px;
        }
      }
    }
  }
}
