@mixin layer($w, $h, $bg, $bt: auto, $rt: auto, $lt: auto, $z: 1) {
  position: absolute;
  width: $w;
  height: $h;
  background-color: $bg;
  bottom: $bt;
  right: $rt;
  left: $lt;
  z-index: $z;
}

@mixin bodyPart($w, $h, $lt, $rt, $tp, $bt, $m, $bg) {
  position: absolute;
  width: $w;
  height: $h;
  border-radius: 50%;
  left: $lt;
  right: $rt;
  top: $tp;
  bottom: $bt;
  margin: $m;
  background-color: $bg;
}

@mixin input($z) {
  position: absolute;
  appearance: none;
  cursor: pointer;
  z-index: $z;
  width: 100%;
  height: 80px;
}
