@mixin layer($w, $h, $bg, $bt: auto, $rt: auto, $lt: auto, $z: 1) {
  position: absolute;
  width: $w;
  height: $h;
  background-color: $bg;
  bottom: $bt;
  right: $rt;
  left: $lt;
  z-index: $z;
}
