@mixin layer($w, $h, $bg:none, $bi:none, $bt: auto, $rt: auto, $lt: auto, $z: 1) {
  position: absolute;
  width: $w;
  height: $h;
  bottom: $bt;
  right: $rt;
  left: $lt;
  z-index: $z;
}

@mixin bodyPart($w, $h, $lt, $rt, $tp, $bt, $m, $bg) {
  position: absolute;
  width: $w;
  height: $h;
  border-radius: 50%;
  left: $lt;
  right: $rt;
  top: $tp;
  bottom: $bt;
  margin: $m;
  background-color: $bg;
}

@mixin input($z) {
  position: absolute;
  appearance: none;
  cursor: pointer;
  outline: none;
  z-index: $z;
  width: 100%;
  height: 80px;
  left: -15px;
  background-color: transparent;
  border: none;
}

@mixin btn($s, $bg: transparent, $c: transparent, $br) {
  height: $s;
  width: $s;
  border-radius: 50%;
  background-color: $bg;
  color: $c;
  border: $br;
  cursor: pointer;
  outline: none;
}
