.canvas {
  overflow-x: auto;
  width: 425px;
  height: 676px;
  border-radius: 40px;
  border: 6px solid white;
  background-color: #37d0e4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 40px 60px -40px, rgba(10, 37, 64, 0.35) 0px -8px 25px 0px inset;
  position: relative;
}

@media (max-width: 768px) {
  .canvas {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    border: none;
    box-shadow: none;
  }
}
.lobby {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  place-content: center;
  gap: 10px;
  z-index: 3;
  opacity: 1;
  transition: 1s;
  transform: scale(1);
}
.lobby .title {
  display: grid;
  grid-template-areas: "catch the" "catch bear";
  grid-template-columns: 35px 1fr;
  grid-template-rows: 5px 1fr;
}
.lobby .title .catch {
  grid-area: catch;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: end;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-right: -5px;
  margin-top: 3px;
  color: #025f6b;
}
.lobby .title .the {
  grid-area: the;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 38px;
  margin-top: -10px;
  color: #0f7886;
}
.lobby .title .bear {
  grid-area: bear;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 64px;
  margin-left: -3px;
  margin-top: 5px;
  color: #caf9ff;
}
.lobby .spaceBtn {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  position: relative;
  background-color: #0f7886;
  margin-bottom: 30px;
  border: 1px solid #caf9ff;
}
.lobby .spaceBtn .btnPlay {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: transparent;
  color: transparent;
  border: 5px dotted #1b6670;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 5px;
  left: 5px;
  animation-name: turn;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.lobby .spaceBtn .icon {
  position: absolute;
  font-size: 80px;
  left: 40px;
  top: 28px;
  color: #37d0e4;
}
@keyframes turn {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@keyframes turn2 {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}
.lobby .controls {
  display: flex;
  gap: 15px;
}
.lobby .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #0f7886;
  border: 1px solid #caf9ff;
  cursor: pointer;
}
.lobby .btn .icon {
  color: #37d0e4;
  font-size: 20px;
}
.lobby .btn .icon:hover {
  color: #caf9ff;
}
.lobby .btn .on, .lobby .btn .sun {
  display: block;
  transition: 0.2s;
}
.lobby .btn .off, .lobby .btn .moon {
  display: none;
  transition: 0.2s;
}
.lobby .github {
  color: #37d0e4;
  font-size: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.lobby .github i {
  transition: 0.2s;
}
.lobby .github:hover i {
  color: #caf9ff;
}
.lobby .bestScores {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.lobby .bestScores h4 {
  color: #caf9ff;
  font-size: 24px;
  margin: 10px 0 0;
}
.lobby .bestScores ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.lobby .bestScores ul li {
  list-style: none;
}
.lobby .bestScores ul li:nth-child(1) {
  color: #0f7886;
  font-size: 20px;
}
.lobby .bestScores ul li:nth-child(2) {
  color: #0d92a3;
  font-size: 18px;
}
.lobby .bestScores ul li:nth-child(3) {
  color: #0aa5b9;
  font-size: 16px;
}

.playing {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: 1s;
  transform: scale(0);
  filter: blur(6px);
  display: flex;
  justify-content: center;
}
.playing .playing__container {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  position: relative;
}
.playing .playing__container .scoreTotal {
  text-align: center;
  margin-top: 70px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 500;
}
.playing .playing__container .author {
  position: absolute;
  bottom: 15px;
  width: 100%;
  z-index: 12;
  text-align: center;
}
.playing .playing__container .author a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #f7f313;
  font-weight: 500;
  font-size: 12px;
  transition: 0.3s;
  transform: scale(0.9);
}
.playing .playing__container .author a:hover {
  color: white;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .playing {
    border-radius: 0px;
    border: none;
    box-shadow: none;
  }
  .playing .playing__container {
    width: 425px;
    height: 676px;
  }
}
.time {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  place-content: center;
  z-index: 2;
  opacity: 0;
  transform: scale(0);
  background-color: rgba(55, 208, 228, 0.5);
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  text-shadow: 0px 0px 30px #022a30;
}
@keyframes shaking {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(5px);
  }
  20% {
    transform: translateX(-10px);
  }
  30% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(15px);
  }
  60% {
    transform: translateX(-20px);
  }
  70% {
    transform: rtranslateX(20px);
  }
  80% {
    transform: translateX(-10px);
  }
  90% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.layer-1 {
  position: absolute;
  width: 100px;
  height: 420px;
  bottom: 0;
  right: 65px;
  left: auto;
  z-index: 1;
  background-color: transparent;
  animation-name: bear1;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
.layer-1 input[type=button] {
  position: absolute;
  appearance: none;
  cursor: pointer;
  outline: none;
  z-index: 1;
  width: 100%;
  height: 80px;
  left: -15px;
  background-color: transparent;
  border: none;
}

@keyframes bear1 {
  0% {
    height: 420px;
  }
  25% {
    height: 500px;
  }
  100% {
    height: 420px;
  }
}
@keyframes bearDead {
  0% {
    transform: translateX(20px);
  }
  25% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(20px);
  }
}
.layer-2 {
  position: absolute;
  width: 100px;
  height: 420px;
  bottom: 0;
  right: auto;
  left: 110px;
  z-index: 2;
  background-color: transparent;
  animation-name: bear2;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.layer-2 input[type=button] {
  position: absolute;
  appearance: none;
  cursor: pointer;
  outline: none;
  z-index: 2;
  width: 100%;
  height: 80px;
  left: -15px;
  background-color: transparent;
  border: none;
}

@keyframes bear2 {
  0% {
    height: 420px;
  }
  10% {
    height: 500px;
  }
  100% {
    height: 420px;
  }
}
.layer-3 {
  position: absolute;
  width: 340px;
  height: 420px;
  bottom: 0;
  right: 20px;
  left: auto;
  z-index: 3;
  background-color: #ff6961;
  border-radius: 20px 20px 0 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.layer-4 {
  position: absolute;
  width: 100px;
  height: 3290px;
  bottom: 0;
  right: auto;
  left: 80px;
  z-index: 4;
  background-color: transparent;
  animation-name: bear3;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-iteration-count: infinite;
}
.layer-4 input[type=button] {
  position: absolute;
  appearance: none;
  cursor: pointer;
  outline: none;
  z-index: 4;
  width: 100%;
  height: 80px;
  left: -15px;
  background-color: transparent;
  border: none;
}

@keyframes bear3 {
  0% {
    height: 290px;
  }
  25% {
    height: 370px;
  }
  100% {
    height: 290px;
  }
}
.layer-5 {
  position: absolute;
  width: 220px;
  height: 290px;
  bottom: 0;
  right: auto;
  left: 20px;
  z-index: 5;
  background-color: #1aa363;
  border-radius: 20px 20px 0 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.layer-6 {
  position: absolute;
  width: 100px;
  height: 185px;
  bottom: 0;
  right: 45px;
  left: auto;
  z-index: 6;
  background-color: transparent;
  animation-name: bear4;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.16);
  animation-iteration-count: infinite;
}
.layer-6 input[type=button] {
  position: absolute;
  appearance: none;
  cursor: pointer;
  outline: none;
  z-index: 6;
  width: 100%;
  height: 80px;
  left: -15px;
  background-color: transparent;
  border: none;
}

@keyframes bear4 {
  0% {
    height: 185px;
  }
  10% {
    height: 265px;
  }
  100% {
    height: 185px;
  }
}
.layer-7 {
  position: absolute;
  width: 200px;
  height: 185px;
  bottom: 0;
  right: 0;
  left: auto;
  z-index: 7;
  background-color: #f7f313;
  border-radius: 20px 0 0 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@media (max-width: 768px) {
  .layer-7 {
    border-radius: 20px 20px 0 0;
  }
}
@media (max-width: 425px) {
  .layer-7 {
    border-radius: 20px 0 0 0;
  }
}
.layer-8 {
  position: absolute;
  width: 180px;
  height: 120px;
  bottom: 138px;
  right: auto;
  left: 34px;
  z-index: 8;
  background-color: transparent;
  display: grid;
  grid-template-areas: "catch the" "catch bear";
  grid-template-columns: 35px 1fr;
  grid-template-rows: 25px 1fr;
}
.layer-8 .catch {
  grid-area: catch;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: end;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-right: -5px;
  margin-top: 3px;
  color: #000000;
  animation-name: wordCatch;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes wordCatch {
  0% {
    color: #000000;
  }
  50% {
    color: #05522e;
  }
  100% {
    color: #000000;
  }
}
.layer-8 .the {
  grid-area: the;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 38px;
  margin-top: -10px;
  color: #0a492c;
  animation-name: wordThe;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes wordThe {
  0% {
    color: #0a492c;
  }
  50% {
    color: #012e19;
  }
  100% {
    color: #0a492c;
  }
}
.layer-8 .bear {
  grid-area: bear;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 64px;
  margin-left: -3px;
  margin-top: -15px;
  color: #a4f8d1;
  animation-name: wordBear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes wordBear {
  0% {
    color: #a4f8d1;
  }
  50% {
    color: #e0fff0;
  }
  100% {
    color: #a4f8d1;
  }
}

.layer-9 {
  position: absolute;
  width: 100%;
  height: 181.5px;
  bottom: 0;
  right: auto;
  left: 0;
  z-index: 9;
  margin: 0 auto;
  background-image: url(./../img/tree-tablet.svg);
  background-position: bottom;
  background-size: cover;
  border-radius: 0 0 35px 35px;
}

@media (max-width: 768px) {
  .layer-9 {
    border-radius: 0;
  }
}
.ears {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 1px;
  right: auto;
  top: 10px;
  bottom: auto;
  margin: auto;
  background-color: #582e0b;
  box-shadow: #994f13 -2px -1px 0px 4px;
}

.ears::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: auto;
  right: -66px;
  top: auto;
  bottom: auto;
  margin: auto;
  background-color: #582e0b;
  box-shadow: #994f13 1px -1px 0px 4px;
}

.eyes {
  position: absolute;
  width: 6px;
  height: 15px;
  border-radius: 50%;
  left: 25px;
  right: auto;
  top: 20px;
  bottom: auto;
  margin: auto;
  background-color: #000;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  box-shadow: #d4813d 0px 0px 0px 10px, #d4813d 12px 10px 0px 5px;
}

@keyframes blink {
  0% {
    height: 15px;
  }
  2% {
    height: 3px;
    transform: translate(0px, 6px);
    border-radius: 100%;
  }
  5% {
    height: 15px;
    transform: translate(0px, 0px);
    border-radius: 100%;
  }
}
.eyes::after {
  content: " ";
  position: absolute;
  width: 6px;
  height: 15px;
  border-radius: 50%;
  left: 25px;
  right: auto;
  top: auto;
  bottom: auto;
  margin: auto;
  background-color: #000;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  box-shadow: #d4813d 0px 0px 0px 10px;
}

.head {
  position: absolute;
  width: 80px;
  height: 90px;
  border-radius: 50%;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  margin: 0 auto;
  background-color: #b4601b;
}

.mouth {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  left: 16.8px;
  right: auto;
  top: 33px;
  bottom: auto;
  margin: auto;
  background-color: #994e10;
  animation-name: smile;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  animation-iteration-count: infinite;
  border: 2px solid #000;
}

@keyframes smile {
  0% {
    height: 45px;
  }
  5% {
    height: 30px;
  }
  10% {
    height: 45px;
  }
}
.mouth::before {
  content: " ";
  position: absolute;
  width: 44px;
  height: 32px;
  border-radius: 50%;
  left: 0.4px;
  right: auto;
  top: 4px;
  bottom: auto;
  margin: auto;
  background-color: #994e10;
  border-bottom: 3px solid #000;
}

.mouth::after {
  content: " ";
  position: absolute;
  width: 3px;
  height: 39px;
  border-radius: 50%;
  left: 21px;
  right: auto;
  top: auto;
  bottom: auto;
  margin: auto;
  background-color: #000;
}

.nose {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 32.5px;
  right: auto;
  top: 32px;
  bottom: auto;
  margin: auto;
  background-color: #683104;
  border: 4px solid #000;
}

.shadow {
  position: absolute;
  width: 75px;
  height: 85px;
  border-radius: 50%;
  left: 2px;
  right: auto;
  top: 2px;
  bottom: auto;
  margin: 0 auto;
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

body {
  background-color: #ffbc20;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

@media (max-width: 768px) {
  body {
    background-color: #37d0e4;
  }
}

/*# sourceMappingURL=style.css.map */
