.canvas {
  position: relative;
  width: 425px;
  height: 676px;
  border-radius: 40px;
  border: 6px solid white;
  background-color: #37d0e4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 40px 60px -40px, rgba(10, 37, 64, 0.35) 0px -8px 25px 0px inset;
  overflow-x: auto;
}

.layer-1 {
  position: absolute;
  width: 100px;
  height: 500px;
  background-color: transparent;
  bottom: 0;
  right: 65px;
  left: auto;
  z-index: 1;
}

.layer-2 {
  position: absolute;
  width: 100px;
  height: 500px;
  background-color: transparent;
  bottom: 0;
  right: auto;
  left: 110px;
  z-index: 2;
}

.layer-3 {
  position: absolute;
  width: 340px;
  height: 420px;
  background-color: #ff6961;
  bottom: 0;
  right: 20px;
  left: auto;
  z-index: 3;
  border-radius: 20px 20px 0 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 40px 60px -40px, rgba(10, 37, 64, 0.35) 0px -8px 25px 0px inset;
}

.layer-4 {
  position: absolute;
  width: 100px;
  height: 370px;
  background-color: transparent;
  bottom: 0;
  right: auto;
  left: 80px;
  z-index: 4;
}

.layer-5 {
  position: absolute;
  width: 220px;
  height: 290px;
  background-color: #1aa363;
  bottom: 0;
  right: auto;
  left: 20px;
  z-index: 5;
  border-radius: 20px 20px 0 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 40px 60px -40px, rgba(10, 37, 64, 0.35) 0px -8px 25px 0px inset;
}

.layer-6 {
  position: absolute;
  width: 100px;
  height: 260px;
  background-color: transparent;
  bottom: 0;
  right: 45px;
  left: auto;
  z-index: 6;
}

.layer-7 {
  position: absolute;
  width: 200px;
  height: 180px;
  background-color: #f7f313;
  bottom: 0;
  right: 0;
  left: auto;
  z-index: 7;
  border-radius: 20px 0 0 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 40px 60px -40px, rgba(10, 37, 64, 0.35) 0px -8px 25px 0px inset;
}

.layer-8 {
  position: absolute;
  width: 180px;
  height: 120px;
  background-color: transparent;
  bottom: 138px;
  right: auto;
  left: 34px;
  z-index: 8;
  display: grid;
  grid-template-areas: "catch the" "catch bear";
  grid-template-columns: 35px 1fr;
  grid-template-rows: 25px 1fr;
}
.layer-8 .catch {
  grid-area: catch;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: end;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-right: -5px;
  margin-top: 3px;
  color: #000000;
}
.layer-8 .the {
  grid-area: the;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 38px;
  margin-top: -10px;
  color: #0a492c;
}
.layer-8 .bear {
  grid-area: bear;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 64px;
  margin-left: -3px;
  margin-top: -15px;
  color: #a4f8d1;
}

.layer-9 {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: transparent;
  bottom: 0;
  right: auto;
  left: 0;
  z-index: 9;
  margin: 0 auto;
}
.layer-9 img {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.ears {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 1px;
  top: 10px;
  background-color: #582e0b;
  position: absolute;
  box-shadow: #994f13 -2px -1px 0px 4px;
}

.ears::after {
  content: " ";
  position: absolute;
  background-color: #582e0b;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: -66px;
  box-shadow: #994f13 1px -1px 0px 4px;
}

.eyes {
  width: 6px;
  height: 15px;
  border-radius: 50%;
  left: 25px;
  top: 20px;
  background-color: #000000;
  position: absolute;
  box-shadow: #d4813d 0px 0px 0px 10px, #d4813d 12px 10px 0px 5px;
}

.eyes::after {
  content: " ";
  position: absolute;
  background-color: #000000;
  width: 6px;
  height: 15px;
  border-radius: 50%;
  left: 25px;
  box-shadow: #d4813d 0px 0px 0px 10px;
}

.head {
  width: 80px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #b4601b;
  position: absolute;
}

.mouth {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  left: 16.8px;
  top: 33px;
  border: 2px solid #000;
  background-color: #d3762a;
  position: absolute;
}

.mouth::before {
  content: " ";
  position: absolute;
  background-color: #d3762a;
  width: 44px;
  height: 32px;
  border-radius: 50%;
  left: 0.4px;
  top: 4px;
  border-bottom: 3px solid #000;
}

.mouth::after {
  content: " ";
  position: absolute;
  background-color: #000000;
  width: 0.4px;
  height: 38px;
  left: 22.2px;
}

.nose {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 32.5px;
  top: 32px;
  border: 4px solid #000;
  background-color: #d3762a;
  position: absolute;
}

body {
  background-color: #44e9a4;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

/*# sourceMappingURL=style.css.map */
